upstream wordpress-agent {
    server wordpress:80;
}

server {
    listen 443 ssl;
    server_name wp.mahmoudisari.ir;

    ssl_certificate /etc/letsencrypt/live/wp.mahmoudisari.ir/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/wp.mahmoudisari.ir/privkey.pem;

    location / {
        proxy_pass                           http://wordpress-agent;
        proxy_set_header  Host               $http_host;
        proxy_set_header  X-Real-IP          $remote_addr;
        proxy_set_header  X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto  $scheme;
        add_header X-Powered-By "Parsa Mahmoudi Sari | mahmoudisari.ir";
    }
}

server {
    listen 80;
    server_name wp.mahmoudisari.ir;
    return 301 https://$host$request_uri;
}
