---
version: '3.8'

networks:
    wp-net:
        name: wp-net
        driver: bridge
        external: true
    db-net:
        name: db-net
        driver: bridge

volumes:
    wp-data:
        name: wp-data
        driver: local
    db-data:
        name: db-data
        driver: local

services:
    mysql:
        image: registry.mahmoudisari.ir/mysql:5.7
        container_name: mysql
        volumes:
            - db-data:/var/lib/mysql
        networks:
            - wp-net
            - db-net
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: salamsalam
            MYSQL_DATABASE: devops
            MYSQL_USER: parsa
            MYSQL_PASSWORD: byebye

    wordpress:
        image: registry.mahmoudisari.ir/wordpress:latest
        container_name: wordpress
        volumes:
            - wp-data:/var/www/html
        networks:
            - wp-net
        restart: always
        environment:
            WORDPRESS_DB_HOST: mysql:3306
            WORDPRESS_DB_USER: parsa
            WORDPRESS_DB_NAME: devops
            WORDPRESS_DB_PASSWORD: byebye
        depends_on:
            - mysql
