---
version: '3.8'

networks:
    wp-net:
        name: wp-net
        driver: bridge
    reg-net:
        name: reg-net
        driver: bridge

volumes:
    wp-data:
        name: wp-data
        driver: local
    db-data:
        name: db-data
        driver: local

services:
    mysql:
        image: mysql:5.7
        container_name: mysql
        volumes:
            - db-data: /var/lib/mysql
        networks:
            - wp-net
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: salamsalam
            MYSQL_DATABASE: devops
            MYSQL_USER: parsa
            MYSQL_PASSWORD: byebye

    wordpress:
        image: wordpress:latest
        container_name: wordpress
        volumes:
            - wp-data: /var/www/html
        networks:
            - wp-net
        restart: always
        environment:
            WORDPRESS_DB_HOST: mysql:3306
            WORDPRESS_DB_USER: parsa
            WORDPRESS_DB_NAME: devops
            WORDPRESS_DB_PASSWORD: byebye
        depends_on:
            - mysql

    registry:
        image: registry:2
        container_name: registry
        volumes:
            - /etc/nginx/data:/var/lib/registry
        networks:
            - reg-net
        restart: always
        depends_on:
            - wordpress

    nginx:
        image: nginx:latest
        container_name: nginx
        volumes:
            - /etc/nginx/conf.d:/etc/nginx/conf.d
            - /etc/nginx/auth:/etc/nginx/auth
            - /etc/letsencrypt/live/wordpress.mahmoudisari.ir:/etc/letsencrypt/live/wordpress.mahmoudisari.ir
            - /etc/letsencrypt/archive/wordpress.mahmoudisari.ir:/etc/letsencrypt/archive/wordpress.mahmoudisari.ir
        networks:
            - wp-net
            - reg-net
        depends_on:
            - registry
