Include /etc/ssh/sshd_config.d/*.conf
Port 22
ListenAddress 0.0.0.0
LogLevel VERBOSE
PermitRootLogin prohibit-password
MaxAuthTries 3
MaxSessions 2
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PrintMotd no
TCPKeepAlive yes
Compression no
ClientAliveCountMax 5
Banner /etc/issue
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
AcceptEnv LANG LC_*
Subsystem sftp	/usr/lib/openssh/sftp-server
AllowUsers ubuntu
AllowGroups ubuntu
